# Unzipping Files

In [1]:
# Unzipping Labeled Train Data 

!unzip 'drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/labeledTrainData.tsv.zip' -d 'drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/'

Archive:  drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/labeledTrainData.tsv.zip
  inflating: drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/labeledTrainData.tsv

In [2]:
# Unzipping unlabelled Train Data 

!unzip 'drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/unlabeledTrainData.tsv.zip' -d 'drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/'

Archive:  drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/unlabeledTrainData.tsv.zip
  inflating: drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/unlabeledTrainData.tsv

In [3]:
# Unzipping test Data file 

!unzip 'drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/testData.tsv.zip' -d 'drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/'

Archive:  drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/testData.tsv.zip
  inflating: drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/testData.tsv

# Checking files

In [0]:
import pandas as pd
import numpy as np

Files are in .tsv format so content is seperated by tab in it,therfore use sep='\t' while reading it.

In [0]:
# Train files

# Labeled 

df_ltrain = pd.read_csv('drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/labeledTrainData.tsv',sep='\t')

In [8]:
df_ltrain

            id  sentiment                                             review
0       5814_8          1  With all this stuff going down at the moment w...
1       2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2       7759_3          0  The film starts with a manager (Nicholas Bell)...
3       3630_4          0  It must be assumed that those who praised this...
4       9495_8          1  Superbly trashy and wondrously unpretentious 8...
...        ...        ...                                                ...
24995   3453_3          0  It seems like more consideration has gone into...
24996   5064_1          0  I don't believe they made this film. Completel...
24997  10905_3          0  Guy is a loser. Can't get girls, needs to buil...
24998  10194_3          0  This 30 minute documentary Buñuel made in the ...
24999   8478_8          1  I saw this movie as a child and it broke my he...

[25000 rows x 3 columns]

In [12]:
# Unlabeled train file

df_utrain = pd.read_csv('drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/unlabeledTrainData.tsv',sep='\t',error_bad_lines=False)

b'Skipping line 43043: expected 2 fields, saw 3\n'

In [13]:
df_utrain

            id                                             review
0       9999_0  Watching Time Chasers, it obvious that it was ...
1      45057_0  I saw this film about 20 years ago and remembe...
2      15561_0  Minor Spoilers<br /><br />In New York, Joan Ba...
3       7161_0  I went to see this film with a great deal of e...
4      43971_0  Yes, I agree with everyone on this site this m...
...        ...                                                ...
49993  18984_0  The original Man Eater by Joe D'Amato is somew...
49994  16433_0  When Home Box Office was in it's early days mo...
49995  16006_0  Griffin Dunne was born into a cultural family....
49996  40155_0  Not a bad story, but the low budget rears its ...
49997  35270_0  This not-very-good mummy-alien flick does feat...

[49998 rows x 2 columns]

In [0]:
# For sample submission file

sample_sub = pd.read_csv('/content/drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/sampleSubmission.csv')

In [15]:
sample_sub

             id  sentiment
0      12311_10          0
1        8348_2          0
2        5828_4          0
3        7186_2          0
4       12128_7          0
...         ...        ...
24995   2155_10          0
24996     59_10          0
24997    2531_1          0
24998    7772_8          0
24999  11465_10          0

[25000 rows x 2 columns]

In [0]:
# For test data file

df_test = pd.read_csv('drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/testData.tsv',sep='\t')

In [18]:
df_test

             id                                             review
0      12311_10  Naturally in a film who's main themes are of m...
1        8348_2  This movie is a disaster within a disaster fil...
2        5828_4  All in all, this is a movie for kids. We saw i...
3        7186_2  Afraid of the Dark left me with the impression...
4       12128_7  A very accurate depiction of small time mob li...
...         ...                                                ...
24995   2155_10  Sony Pictures Classics, I'm looking at you! So...
24996     59_10  I always felt that Ms. Merkerson had never got...
24997    2531_1  I was so disappointed in this movie. I am very...
24998    7772_8  From the opening sequence, filled with black a...
24999  11465_10  This is a great horror film for people who don...

[25000 rows x 2 columns]