# Bag of Words Meets Bags Of Popcorn

- What is Bag of Words Model? 
https://www.geeksforgeeks.org/bag-of-words-bow-model-in-nlp/

- What is Word2Vec?
https://code.google.com/archive/p/word2vec/


- Contest Link: https://www.kaggle.com/c/word2vec-nlp-tutorial/overview

## 1) Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import torch.nn as nn
import nltk
import scipy
import warnings
import re
warnings.filterwarnings('ignore')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## 2) Reading the text files and observing its features

In [0]:
# For train
df_train = pd.read_csv('drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/labeledTrainData.tsv',sep='\t')

# For test
df_test = pd.read_csv('drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/testData.tsv',sep='\t')

In [3]:
df_train.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [4]:
df_test.head()

         id                                             review
0  12311_10  Naturally in a film who's main themes are of m...
1    8348_2  This movie is a disaster within a disaster fil...
2    5828_4  All in all, this is a movie for kids. We saw i...
3    7186_2  Afraid of the Dark left me with the impression...
4   12128_7  A very accurate depiction of small time mob li...

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         25000 non-null  object
 1   sentiment  25000 non-null  int64
 2   review     25000 non-null  object
dtypes: int64(1), object(2)
memory usage: 586.1+ KB

In [6]:
df_train.describe()

         sentiment
count  25000.00000
mean       0.50000
std        0.50001
min        0.00000
25%        0.00000
50%        0.50000
75%        1.00000
max        1.00000

By observing mean,it looks like it has 50% positive and 50% negative reviews.

## 3) Data Cleaning

In [7]:
# Lets check review section 
pd.options.display.max_colwidth = 500 # to view each rows text to 500 characters
print(df_train['review'])

0        With all this stuff going down at the moment with MJ i've started listening to his music, watching the odd documentary here and there, watched The Wiz and watched Moonwalker again. Maybe i just want to get a certain insight into this guy who i thought was really cool in the eighties just to maybe make up my mind whether he is guilty or innocent. Moonwalker is part biography, part feature film which i remember going to see at the cinema when it was originally released. Some of it has subtle m...
1        \The Classic War of the Worlds\" by Timothy Hines is a very entertaining film that obviously goes to great effort and lengths to faithfully recreate H. G. Wells' classic book. Mr. Hines succeeds in doing so. I, and those who watched his film with me, appreciated the fact that it was not the standard, predictable Hollywood fare that comes out every year, e.g. the Spielberg version with Tom Cruise that had only the slightest resemblance to the book. Obviously, everyone looks for different thin...
2        The film starts with a manager (Nicholas Bell) giving welcome investors (Robert Carradine) to Primal Park . A secret project mutating a primal animal using fossilized DNA, like ¨Jurassik Park¨, and some scientists resurrect one of nature's most fearsome predators, the Sabretooth tiger or Smilodon . Scientific ambition turns deadly, however, and when the high voltage fence is opened the creature escape and begins savagely stalking its prey - the human visitors , tourists and scientific.Meanwh...
3        It must be assumed that those who praised this film (\the greatest filmed opera ever,\" didn't I read somewhere?) either don't care for opera, don't care for Wagner, or don't care about anything except their desire to appear Cultured. Either as a representation of Wagner's swan-song, or as a movie, this strikes me as an unmitigated disaster, with a leaden reading of the score matched to a tricksy, lugubrious realisation of the text.<br /><br />It's questionable that people with ideas as to w...
4        Superbly trashy and wondrously unpretentious 80's exploitation, hooray! The pre-credits opening sequences somewhat give the false impression that we're dealing with a serious and harrowing drama, but you need not fear because barely ten minutes later we're up until our necks in nonsensical chainsaw battles, rough fist-fights, lurid dialogs and gratuitous nudity! Bo and Ingrid are two orphaned siblings with an unusually close and even slightly perverted relationship. Can you imagine playfully...
                                                                                                                                                                                                                                                                ...
24995    It seems like more consideration has gone into the IMDb reviews of this film than went into the source.<br /><br />Here's a review without pretensions:<br /><br />Just when you think nothing is going to happen, it doesn't.<br /><br />Dress it up any way you like, this is a dull film, full of unengaging characters doing very little of interest.<br /><br />One to put on if you want to convince an impressionable emo chick that you're like, so deep, man.<br /><br />Not something to watch for you...
24996    I don't believe they made this film. Completely unnecessary. The first film was okay. But there was no need for a sequel, certainly not after a television series that was already a sequel to the first film. This film feels like a soap-opera. The writing is so bad, it's utterly simple. The jokes don't come across, the acting is flat, it's shot like a soap, it lacks any direction. The first film had a good emotional spine behind it. Every character had a little arc. It was very simple then but...
24997    Guy is a loser. Can't get girls, needs to build up, is picked on by stronger more successful guys, etc. Seen it, saw it, moved on. I'd have to say that Rob needs to move past the Adam Sandler part of his life. And get out of the Adam Sandler plots. There are two funny parts in the whole movie. I couldn't even finish the last 5 minutes. I was getting bored. \The Animal\" is an alright film. I do usually enjoy Adam Sandler films that have the same plot. But this was trying too hard to impress....
24998    This 30 minute documentary Buñuel made in the early 1930's about one of Spain's poorest regions is, in my opinion, one of his weakest films. First, let's admit that 70 years later, Spain is much richer than it was then (and when I say this, I fully admit that wealth can bring problems of its own, like excessive individualism and consumerism, though all in all wealth it's a far better condition than the extreme poverty portrayed here). And if poverty receded in Spain it was not exactly with t...
24999    I saw this movie as a child and it broke my heart! No other story had such a unfinished ending... I grew up on many great anime movies and this was one of my favourites, because it was so unusual - a story about unfairness, and cruelty, and loneliness, and life, and choices that can't be undone, and the need for others. Chirin is made alone when the Wolf kills his mother, but the Wolf is alone, too, when Chirin follows him into the mountain. The Wolf doesn't kill the lamb, even though each n...
Name: review, Length: 25000, dtype: object

By looking at the text, it should be cleaned : 
- Lowercase all the letter
- Convert short forms to long forms
- Remove the html tags
- Remove extra white spaces
- Remove leading and trailing spaces from a word
- Removing numbers like 19 , 20
- Removing punctuations such as ...

In [8]:
# Removing html tags from text.
# https://stackoverflow.com/questions/9662346/python-code-to-remove-html-tags-from-a-string

txt = " the source.<br /><br />Here's a pretensions:<br /><br />Just when"
cleanr = re.sub('<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});','',txt)
cleanr

" the source.Here's a pretensions:Just when"

In [9]:
# Removing digits from text
# https://stackoverflow.com/questions/817122/delete-digits-in-python-regex

text = " the source.<br /><br />Here's a 20 preten 103s and 120th sions:<br /><br />Just when"
text = re.sub("^\d+\s|\s\d+\s|\s\d+$", " ", text) # Removing digits
text

" the source.<br /><br />Here's a preten 103s and 120th sions:<br /><br />Just when"

In [0]:
# Let's clean text
def clean_text(text):
  text = text.lower()
  text = re.sub('<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});','',text)  # for removal of html tags
  """
  text = re.sub(r"can't","cannot",text)
  text = re.sub(r"shan't","shall not",text)
  text = re.sub(r"won't","will not",text)
  text = re.sub(r"n't"," not",text) # see the space before not. 
  text = re.sub(r"i'm","i am",text)
  text = re.sub(r"what's","what is",text)
  text = re.sub(r"let's","let us",text)
  text = re.sub(r"'re"," are",text)
  text = re.sub(r"'s"," ",text)  # space because we dont know the tense , it can be is/has anything.
  text = re.sub(r"'ve"," have",text)
  text = re.sub(r"\'ll", " will ", text)
  text = re.sub(r"\'scuse", " excuse ", text)
  """
  text = re.sub(r"[^a-zA-Z]"," ",text)
  text = re.sub("^\d+\s|\s\d+\s|\s\d+$", " ", text) # Removing digits
  text = re.sub('\W', ' ', text)  # If the comment/word does not contain any alphabets
  text = re.sub('\s+', ' ', text) # If there are more than one whitespace simultenously, then replace them by only 1 whitespace and also replace the punctuation marks
  text = text.strip(' ') # Removing leading and trailing white spaces
  return text

Cleaning text for train file

In [0]:
df_train['review'] = df_train['review'].apply(lambda text: clean_text(text))

In [12]:
print(df_train['review'])

0        with all this stuff going down at the moment with mj i ve started listening to his music watching the odd documentary here and there watched the wiz and watched moonwalker again maybe i just want to get a certain insight into this guy who i thought was really cool in the eighties just to maybe make up my mind whether he is guilty or innocent moonwalker is part biography part feature film which i remember going to see at the cinema when it was originally released some of it has subtle message...
1        the classic war of the worlds by timothy hines is a very entertaining film that obviously goes to great effort and lengths to faithfully recreate h g wells classic book mr hines succeeds in doing so i and those who watched his film with me appreciated the fact that it was not the standard predictable hollywood fare that comes out every year e g the spielberg version with tom cruise that had only the slightest resemblance to the book obviously everyone looks for different things in a movie th...
2        the film starts with a manager nicholas bell giving welcome investors robert carradine to primal park a secret project mutating a primal animal using fossilized dna like jurassik park and some scientists resurrect one of nature s most fearsome predators the sabretooth tiger or smilodon scientific ambition turns deadly however and when the high voltage fence is opened the creature escape and begins savagely stalking its prey the human visitors tourists and scientific meanwhile some youngsters...
3        it must be assumed that those who praised this film the greatest filmed opera ever didn t i read somewhere either don t care for opera don t care for wagner or don t care about anything except their desire to appear cultured either as a representation of wagner s swan song or as a movie this strikes me as an unmitigated disaster with a leaden reading of the score matched to a tricksy lugubrious realisation of the text it s questionable that people with ideas as to what an opera or for that m...
4        superbly trashy and wondrously unpretentious s exploitation hooray the pre credits opening sequences somewhat give the false impression that we re dealing with a serious and harrowing drama but you need not fear because barely ten minutes later we re up until our necks in nonsensical chainsaw battles rough fist fights lurid dialogs and gratuitous nudity bo and ingrid are two orphaned siblings with an unusually close and even slightly perverted relationship can you imagine playfully ripping o...
                                                                                                                                                                                                                                                                ...
24995                         it seems like more consideration has gone into the imdb reviews of this film than went into the source here s a review without pretensions just when you think nothing is going to happen it doesn t dress it up any way you like this is a dull film full of unengaging characters doing very little of interest one to put on if you want to convince an impressionable emo chick that you re like so deep man not something to watch for your own pleasure though unless you re pretentious
24996    i don t believe they made this film completely unnecessary the first film was okay but there was no need for a sequel certainly not after a television series that was already a sequel to the first film this film feels like a soap opera the writing is so bad it s utterly simple the jokes don t come across the acting is flat it s shot like a soap it lacks any direction the first film had a good emotional spine behind it every character had a little arc it was very simple then but somehow it wo...
24997    guy is a loser can t get girls needs to build up is picked on by stronger more successful guys etc seen it saw it moved on i d have to say that rob needs to move past the adam sandler part of his life and get out of the adam sandler plots there are two funny parts in the whole movie i couldn t even finish the last minutes i was getting bored the animal is an alright film i do usually enjoy adam sandler films that have the same plot but this was trying too hard to impress the jokes are very o...
24998    this minute documentary bu uel made in the early s about one of spain s poorest regions is in my opinion one of his weakest films first let s admit that years later spain is much richer than it was then and when i say this i fully admit that wealth can bring problems of its own like excessive individualism and consumerism though all in all wealth it s a far better condition than the extreme poverty portrayed here and if poverty receded in spain it was not exactly with the sort of socialism t...
24999    i saw this movie as a child and it broke my heart no other story had such a unfinished ending i grew up on many great anime movies and this was one of my favourites because it was so unusual a story about unfairness and cruelty and loneliness and life and choices that can t be undone and the need for others chirin is made alone when the wolf kills his mother but the wolf is alone too when chirin follows him into the mountain the wolf doesn t kill the lamb even though each night he says maybe...
Name: review, Length: 25000, dtype: object

Cleaning text for test file

In [0]:
df_test['review'] = df_test['review'].apply(lambda text: clean_text(text))

In [14]:
print(df_test['review'])

0        naturally in a film who s main themes are of mortality nostalgia and loss of innocence it is perhaps not surprising that it is rated more highly by older viewers than younger ones however there is a craftsmanship and completeness to the film which anyone can enjoy the pace is steady and constant the characters full and engaging the relationships and interactions natural showing that you do not need floods of tears to show emotion screams to show fear shouting to show dispute or violence to s...
1        this movie is a disaster within a disaster film it is full of great action scenes which are only meaningful if you throw away all sense of reality let s see word to the wise lava burns you steam burns you you can t stand next to lava diverting a minor lava flow is difficult let alone a significant one scares me to think that some might actually believe what they saw in this movie even worse is the significant amount of talent that went into making this film i mean the acting is actually very...
2        all in all this is a movie for kids we saw it tonight and my child loved it at one point my kid s excitement was so great that sitting was impossible however i am a great fan of a a milne s books which are very subtle and hide a wry intelligence behind the childlike quality of its leading characters this film was not subtle it seems a shame that disney cannot see the benefit of making movies from more of the stories contained in those pages although perhaps it doesn t have the permission to ...
3        afraid of the dark left me with the impression that several different screenplays were written all too short for a feature length film then spliced together clumsily into this frankenstein s monster at his best the protagonist lucas is creepy as hard as it is to draw a bead on the secondary characters they re far more sympathetic afraid of the dark could have achieved mediocrity had it taken just one approach and seen it through and had it made lucas simply psychotic and confused instead of ...
4        a very accurate depiction of small time mob life filmed in new jersey the story characters and script are believable but the acting drops the ball still it s worth watching especially for the strong images some still with me even though i first viewed this years ago a young hood steps up and starts doing bigger things tries to but these things keep going wrong leading the local boss to suspect that his end is being skimmed off not a good place to be if you enjoy your health or life this is t...
                                                                                                                                                                                                                                                                ...
24995    sony pictures classics i m looking at you sony s got the rights to harry records you need to distribute the film and you ll get radically increased sales of his back catalog anyhow this is a great study of a fascinating musician woefully underknown full of great stories greater music and it could have been hours longer and i d have loved it even more saw it at the american cinemateque mods rockers festival at the aero theatre in santa monica where it played to a packed house they were turnin...
24996    i always felt that ms merkerson had never gotten a role fitting her skills familiar to millions as the lt on law and order she has been seen in a number of theatrical releases always in a supporting role hbo s lackawanna blues changes that and allows this talented actress to shine as nanny successful entrepreneur in a world changing from segregation to integration but the story is really about the colorful array of characters that she and her adopted son meet in a boarding house in lackawann...
24997    i was so disappointed in this movie i am very familiar with the case having read not only mark fuhrman s book but also the far superior a wealth of evil the true story of the murder of martha moxley in america s richest community by timothy dumas anyone who watches murder in greenwich should be aware they re watching the mark fuhrman story not the martha moxley story this film is nothing more than an ego trip for fuhrman just watch his character strut around as if he is the second coming yes...
24998    from the opening sequence filled with black and white shots reminiscent of gordan parks photos this film draws the viewer into a feeling of artistic renaissance the backdrop of a poetry cafe aptly named the sanctuary provides just that the jazz that permeates the film and the cinematography will seduce you this story of love actually allows love to grow to evolve and ultimately mature a rarity in hollywood everyone can identify with some stage of their journey towards each other this tale of...
24999    this is a great horror film for people who don t want all that vomit retching gore and sensationalism this movie has equal amounts of horror suspense humor and even a little light nudity but nothing big linnea quigley isn t over the top as she was in return of the living dead where she danced naked on a crypt but she is still essentially the same slutty character cathy podewell is a virginal and chaste character before going on to dallas and we are also introduced to amelia soon mimi kinkade...
Name: review, Length: 25000, dtype: object

Splitting into X and y features

In [0]:
# For train file

X = df_train['review']
y = df_train['sentiment']

# For test file

X_test = df_test['review']

## 4) Tokenizing text words

we will use tfidftokenizer and will remove all the stop words from text and take only top 5000 words.

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix,roc_auc_score,roc_curve

In [17]:
tf = TfidfVectorizer(stop_words='english',max_features=20000)
tf

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=20000,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words='english', strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [0]:
# For training

X = tf.fit_transform(X)

# For test 

X_test = tf.transform(X_test)

In [19]:
len(tf.get_feature_names()) , 
#tf.get_feature_names()

(20000,)

In [20]:
print(X.toarray().shape)
X.toarray()

(25000, 20000)

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

Splitting into train, val and test set

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.1,random_state=50)

## 5) Building the model

### 5.1) Using random forest classifier.

In [0]:
from sklearn.ensemble import RandomForestClassifier
rf_clf = RandomForestClassifier()

In [23]:
rf_clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
y_val_pred = rf_clf.predict(X_val)

In [25]:
print(accuracy_score(y_val_pred,y_val))

0.8588

In [26]:
print(roc_curve(y_val_pred,y_val))

(array([0.        , 0.14475743, 1.        ]), array([0.        , 0.86252046, 1.        ]), array([2, 1, 0]))

In [27]:
print(roc_auc_score(y_val_pred,y_val))

0.8588815123876556

In [0]:
rfc1 = rf_clf.predict(X_test)
rfc2 = rf_clf.predict_proba(X_test)[:,1]

In [29]:
rfc1

array([1, 0, 1, ..., 1, 1, 1])

In [30]:
rfc2

array([0.87, 0.21, 0.58, ..., 0.55, 0.78, 0.56])

In [31]:
# putting result in submission file

submission_file = pd.read_csv('drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/sampleSubmission.csv')
submission_file.head()

         id  sentiment
0  12311_10          0
1    8348_2          0
2    5828_4          0
3    7186_2          0
4   12128_7          0

In [0]:
submission_file['sentiment'] = rfc1

In [33]:
submission_file

             id  sentiment
0      12311_10          1
1        8348_2          0
2        5828_4          1
3        7186_2          1
4       12128_7          1
...         ...        ...
24995   2155_10          1
24996     59_10          1
24997    2531_1          1
24998    7772_8          1
24999  11465_10          1

[25000 rows x 2 columns]

In [0]:
submission_file.to_csv('Using ensemble model.csv',index=False)

Model gave 84.7% accuracy.

### 5.2) Using xgboost

In [0]:
import xgboost as xgb

In [0]:
xg_clf = xgb.XGBClassifier(objective ='binary:logistic',learning_rate=0.2,n_estimators=1000,max_depth=20)

In [37]:
xg_clf.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.2, max_delta_step=0, max_depth=20,
              min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [0]:
y_val_pred = xg_clf.predict(X_val)

In [39]:
print(roc_auc_score(y_val_pred,y_val))

0.8676432186662366

In [0]:
xgb1 = xg_clf.predict(X_test)
xgb2 = xg_clf.predict_proba(X_test)[:,1]

In [41]:
xgb1

array([1, 0, 1, ..., 0, 1, 1])

In [42]:
xgb2

array([9.9999225e-01, 7.8459325e-06, 9.8741156e-01, ..., 2.4775542e-01,
       9.9952829e-01, 6.7515337e-01], dtype=float32)

In [43]:
# putting result in submission file

submission_file = pd.read_csv('drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/sampleSubmission.csv')
submission_file.head()

         id  sentiment
0  12311_10          0
1    8348_2          0
2    5828_4          0
3    7186_2          0
4   12128_7          0

In [0]:
submission_file['sentiment'] = xgb1
submission_file.to_csv('Using xgboost.csv',index=False)

Model gave 86% accuracy.

### 5.3) Using Logistic Regression

In [0]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [46]:
lr.fit(X_train,y_train)
y_val_pred = lr.predict(X_val)

print(roc_auc_score(y_val_pred,y_val))

lr1 = lr.predict(X_test)
lr2 = lr.predict_proba(X_test)[:,1]

0.8929576689398318

In [47]:
lr1

array([1, 0, 1, ..., 0, 1, 1])

In [48]:
lr2

array([0.93838547, 0.06921883, 0.68454463, ..., 0.41196431, 0.93211129,
       0.58675025])

In [0]:
# putting result in submission file

submission_file = pd.read_csv('drive/My Drive/Pytorch_DataSet/Bag Of Words Meets Bags of popcorn/sampleSubmission.csv')
submission_file['sentiment'] = lr1
submission_file.to_csv('Using Logistic Regression.csv',index=False)

Model gave 88% accuracy.

## Model Ensembling